/*
<link rel="stylesheet" href="common.css">
*/
body {
	margin-bottom: 6em;
}

ul {
    list-style: none;
    margin: 0;
    position: relative;
    margin-left: -2em;
}

table {
    margin-bottom: 0;
}

body > table th,
body > table td {
    border: 0 !important;
    padding: 0 5px;
}

th {
    border-bottom: none;
}

li th:nth-child(1),
li td:nth-child(1) {
    border-right: 3px #e5e5d1 solid;
    width: 4em;
}

ul li:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #6fc173;
    position: absolute;
    left: 8em;
    margin-top: 0.7em;
    border-radius: 100%;
}
